@use "../abstracts" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-bg;
}

#root {
  min-height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
