// sass/base/_typography.scss
@use "../abstracts" as *;
html {
  font-size: 100%; // 16px
}

body {
  font-family: $font-family-base;
  font-size: 1rem;
  line-height: 1.6;
  color: $color-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  line-height: 1.2;
  font-weight: $font-weight-bold;
}

h1 {
  font-size: 2.5rem;
} // 40px
h2 {
  font-size: 2rem;
} // 32px
h3 {
  font-size: 1.75rem;
} // 28px
h4 {
  font-size: 1.5rem;
} // 24px
h5 {
  font-size: 1.25rem;
} // 20px
h6 {
  font-size: 1rem;
} // 16px

// 4. Paragraphs & lists
p {
  margin: 0 0 1rem;
}

ul,
ol {
  margin: 0 0 1rem 1.5rem;
  padding: 0;
  list-style-position: outside;
}
