div[role="row"] {
  min-height: 38px;
}
div[data-column-id="1"] > div {
  white-space: break-spaces !important;
}
div[role="columnheader"] {
  font-weight: 700;
}
.utms {
  padding: 5px 0;
  white-space: nowrap;
  span {
    display: block;
  }
}
.info {
  background-color: #bfbfbf;
  margin-right: 3px;
  border-radius: 3px;
  padding: 1px 4px;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
}
